<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.vtst.ow.eclipse.less.launching.compiler">
    <booleanAttribute key="autoOutputFile" value="true"/>
    <stringAttribute key="command" value="C:\less.js\lessc.cmd"/>
    <booleanAttribute key="compress" value="true"/>
    <stringAttribute key="inputFile" value=""/>
    <stringAttribute key="optimization" value="0"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <stringAttribute key="outputFile" value=".css"/>
    <booleanAttribute key="strictImports" value="false"/>
    <booleanAttribute key="useAsDefault" value="true"/>
    <booleanAttribute key="verbose" value="false"/>
    <booleanAttribute key="yuiCompress" value="false"/>
</launchConfiguration>
