<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">
	      

	<description>WueKaStL</description>
	
	
	<jsp-config>
    <jsp-property-group>
        <url-pattern>*.jsp</url-pattern>
        <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
	</jsp-config>
	
	<servlet>
	<servlet-name>LoginServlet</servlet-name>
	<servlet-class>de.uniwue.apps.jm1.servlets.LoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>LoginServlet</servlet-name>
	<url-pattern>/auth/anmeldung</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>PinServlet</servlet-name>
	<servlet-class>de.uniwue.apps.jm1.servlets.PinServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>PinServlet</servlet-name>
	<url-pattern>/auth/pin</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	<servlet-name>LogoutServlet</servlet-name>
	<servlet-class>de.uniwue.apps.jm1.servlets.LogoutServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>LogoutServlet</servlet-name>
	<url-pattern>/auth/abmeldung</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>BuchungServlet</servlet-name>
	<servlet-class>de.uniwue.apps.jm1.servlets.BuchungsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>BuchungServlet</servlet-name>
	<url-pattern>/buchungen</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>BenutzerServlet</servlet-name>
	<servlet-class>de.uniwue.apps.jm1.servlets.BenutzerServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>BenutzerServlet</servlet-name>
	<url-pattern>/benutzer</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>Itemservlet</servlet-name>
	<servlet-class>de.uniwue.apps.jm1.servlets.ItemServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>Itemservlet</servlet-name>
	<url-pattern>/artikel</url-pattern>
	</servlet-mapping>
	
	
    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>de.uniwue.apps.jm1.servlets.CharsetFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <error-page>
  <error-code>404</error-code>
  <location>/404.jsp</location>
</error-page>
<error-page>
  <exception-type>java.lang.Throwable</exception-type>
  <location>/exception.jsp</location>
</error-page>

    <error-page>
  <error-code>500</error-code>
  <location>/exception.jsp</location>
</error-page>

    
	
	<!-- Serve PWA manifest with the correct MIME type -->
    <mime-mapping>
        <extension>webmanifest</extension>
        <mime-type>application/manifest+json</mime-type>
    </mime-mapping>

</web-app>
